<div id="contact">
    <h1><u>Contacto</u></h1>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/email@email.com">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="email" name="_replyto" placeholder="Email" required>
            <textarea name="message" placeholder="Escribe aqui" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <!-- End #contact-form -->
  </div>
  <!-- End #contact -->
