<div id="education">
    <h2 class="heading"><b>Educación</b></h2>
    <div class="education-block">
        <h3>Escuela de Educación Técnica Nº1 Gral.Savio</h3>
        <span class="education-date">Marzo 1997  - Diciembre 2002</span>
        <h4>Técnico en Equipos e Instalaciones Electromecánicas</h4>
        <p>
            Egresado de la EET Nº1 Gral.Sabio, Saladillo, Pcia Bs.As, Argentina.
        </p>
    </div>
    <!-- End .education-block -->
  
    <div class="education-block">
        <h3>Facultad de Ingeniería, UNLP</h3>
        <span class="education-date">Febrero 2003 - Septiembre 2005</span>
        <h4>Ingenieria Electrónica</h4>
        <p>Dos años aprobados, estudios no finalizados.</p>
    </div>
    <!-- End .education-block -->
  
    <div class="education-block">
        <h3>Argentina Programa</h3>
        <span class="education-date">Octubre 2021  - Actualidad</span>
        <h4>Desarrollo Web FULL STACK</h4>
        <ul>
            <li>SE PROGRAMAR, introducción a la programación.</li>
            <li>YO PROGRAMO, programador web full stack junior.</li>
        </ul>
    </div>
    <!-- End .education-block -->
  
  </div>
  <!-- End #education -->
