<div id="experience" class="background-alt">
    <h2 class="heading">Experiencia*</h2>
    <h5>*(La información siguiente no es verídica, solo esta con el fin de cambiar el contenido html de la página dada como ejercicio)</h5>
    <div id="experience-timeline">
        <div data-date="Octubre 2015 – Diciembre 2017">
            <h3>FutureIsNow</h3>
            <h4>Desarrollador Jr.FrontEnd</h4>
            <p>Desarrollo de la aplicación  "MagicWater", destinada a poder hacer llover en regiones secas, sin causar desequilibrios medioambientales locales ni en el entorno.                    
            </p>
        </div>
  
        <div data-date="Abril 2017 – Marzo 2021">
            <h3>FutureIsNow</h3>
            <h4>Desarrollador Jr.FullStack</h4>
            <p>
                Desarrollo de la aplicación "Pequeños científicos", cuya función es acercar a la ciencias a niñes y jovenes. 
            </p>
        </div>
  
        <div data-date="Julio 2019 – Marzo 2022">
            <h3>MagicWorld</h3>
            <h4>Desarrollador Jr.BackEnd</h4>
            <p>
                Desarrollo del backend del sitio "Misterios", donde se recogen testimonios, observaciones y documentación de diversos fenómenos acontecidos a lo largo del tiempo.
            </p>
        </div>
        <div data-date="Marzo 2020 – Marzo 2022">
            <h3>SkyDance</h3>
            <h4>Desarrollador Sr.FullStack</h4>
            <p>
                Creación y desarrollo de la aplicación "Flora", que es una base de datos de especies vegetales, pudiendo realizar reconocimientos de especies a través la utilización de la cámara o de imagenes.
            </p>
        </div>
    </div>
  </div>
  <!-- End #experience -->
